.card {
  border: 3px solid #0000cc;
  border-radius: 10px;
  padding: 16px;
  margin-left: 6rem;
  margin-right: 6rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-bottom: 16px;
}

.card-section {
  display: flex;
  justify-content: space-between;
}

.card-section-left div,
.card-section-right div {
  margin-bottom: 8px;
}
